@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}
body {
  font-family: var(--font-noto-sans);
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 1rem;
}

code {
  font-size: 14px;
  text-align: left;
  counter-reset: line;
  @apply bg-gray-800 text-gray-100 px-1 py-0.5 rounded;
}

code .word {
  @apply bg-gray-700 border-b border-yellow-400;
}

[data-rehype-pretty-code-figure] code {
  counter-reset: line;
  border: 1px solid black;
}

[data-rehype-pretty-code-figure] [data-line]::before {
  counter-increment: line;
}

[data-line-numbers] > [data-line]::before {
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1rem;
}

[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 2rem;
}

[data-highlighted-line] {
  background-color: #b3c0de40;
}

[data-highlighted-line-id='minus'] {
  position: relative;
  background-color: #fcdcdc;
}

[data-highlighted-line-id='minus']::before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  padding-left: 0.3rem;
  color: #834444;
}

[data-highlighted-line-id='plus'] {
  position: relative;
  background-color: #3c6c49;
}

[data-highlighted-line-id='plus']::before {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  padding-left: 0.3rem;
  color: #43ac5c;
}
